
{% extends 'empty_board.html' %} {% block head %} {% endblock %} {% block body%}

<!-- All tiles from the previous plays -->

{% for row in board %}
    {% set outer_loop = loop %}
    {% for letter in row %}
        {%if letter != '-' %}
          <div
          id="ScrabbleBlock"
          style="position: absolute; left: {{ (loop.index-1) * 76.5 + 54.5 }}px; top: {{ (outer_loop.index-1) * 75.5 + 54.5}}px; width: 70px;"
          >
          <span class="ScrabbleLetter">{{letter|upper}}</span>
          <span class="ScrabbleNumber">{{letter_values[letter]}}</span>
          </div>
        {%endif%}
    {% endfor %}
{% endfor %}

<!-- Move commit interface -->

        <div class="form"
          style="position: absolute; left: 1410px; top: 80px;">
            <form action="/nextMove" method="POST">
              <center>
                Current player: Player {{current_player}}
                <br>
                <br>
                <input type="submit" value="Commit your move">
              </center>
            </form>
        </div>


<!-- Player racks -->    
          {% for letter in racks[current_player] %}
              {%if letter != '-' %}
                    <div
                    id="ScrabbleBlock"
                    style="position: absolute; left:1449px; top: {{ (loop.index-1) * 80 + 200}}px; width: 70px;"
                    >
                    <span class="ScrabbleLetter">{{letter|upper}}</span>
                    <span class="ScrabbleNumber">{{letter_values[letter]}}</span>
                    </div>
              {%endif%}
          {% endfor %}    
{%endblock %}