{% extends 'empty_board.html' %} {% block head %} {% endblock %} {% block body
%}
<table width="1050" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div
        id="ScrabbleBlock"
        style="position: relative; left: 357px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">S</span>
        <span class="ScrabbleNumber">1</span>
      </div>

      <div
        id="ScrabbleBlock"
        style="position: relative; left: 358px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">C</span>
        <span class="ScrabbleNumber">3</span>
      </div>

      <div
        id="ScrabbleBlock"
        style="position: relative; left: 359px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">R</span>
        <span class="ScrabbleNumber">1</span>
      </div>

      <div
        id="ScrabbleBlock"
        style="position: relative; left: 360px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">A</span>
        <span class="ScrabbleNumber">1</span>
      </div>

      <div
        id="ScrabbleBlock"
        style="position: relative; left: 361px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">B</span>
        <span class="ScrabbleNumber">3</span>
      </div>

      <div
        id="ScrabbleBlock"
        style="position: relative; left: 362px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">B</span>
        <span class="ScrabbleNumber">3</span>
      </div>

      <div
        id="ScrabbleBlock"
        style="position: relative; left: 363px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">L</span>
        <span class="ScrabbleNumber">1</span>
      </div>

      <div
        id="ScrabbleBlock"
        style="position: relative; left: 364px; top: -660px; width: 70px;"
        onmousedown="dragStart(event)"
      >
        <span class="ScrabbleLetter">E</span>
        <span class="ScrabbleNumber">1</span>
      </div>
    </td>
  </tr>
</table>

bla bla bla {%endblock %}
