{% extends 'empty_board.html' %} {% block head %} {% endblock %} 
  {% block body%}
          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 360.5px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">S</span>
          <span class="ScrabbleNumber">{{letter_values['s']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 356.5px; width: 70px;"
          >
          <span class="ScrabbleLetter">S</span>
          <span class="ScrabbleNumber">{{letter_values['s']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 437px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">C</span>
          <span class="ScrabbleNumber">{{letter_values['c']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 432px; width: 70px;"
          >
          <span class="ScrabbleLetter">C</span>
          <span class="ScrabbleNumber">{{letter_values['c']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 513.5px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">R</span>
          <span class="ScrabbleNumber">{{letter_values['r']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 507.5px; width: 70px;"
          >
          <span class="ScrabbleLetter">R</span>
          <span class="ScrabbleNumber">{{letter_values['r']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">A</span>
          <span class="ScrabbleNumber">{{letter_values['a']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 666.5px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">B</span>
          <span class="ScrabbleNumber">{{letter_values['b']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 658.5px; width: 70px;"
          >
          <span class="ScrabbleLetter">B</span>
          <span class="ScrabbleNumber">{{letter_values['b']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 743px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">B</span>
          <span class="ScrabbleNumber">{{letter_values['b']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 734px; width: 70px;"
          >
          <span class="ScrabbleLetter">B</span>
          <span class="ScrabbleNumber">{{letter_values['b']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 819.5px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">L</span>
          <span class="ScrabbleNumber">{{letter_values['l']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 809.5px; width: 70px;"
          >
          <span class="ScrabbleLetter">L</span>
          <span class="ScrabbleNumber">{{letter_values['l']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 896px; top: 583px; width: 70px;"
          >
          <span class="ScrabbleLetter">E</span>
          <span class="ScrabbleNumber">{{letter_values['e']}}</span>
          </div>

          <div
          id="ScrabbleBlock"
          style="position: absolute; left: 590px; top: 885px; width: 70px;"
          >
          <span class="ScrabbleLetter">E</span>
          <span class="ScrabbleNumber">{{letter_values['e']}}</span>
          </div>


          <div class="form"
          style="position: absolute; left: 1400px; top: 250px; width: 70px;">
            <form action="/" method="POST">
                Number of players:
                <input type="text" name="number_of_players" id="number_of_players">
                <input type="submit" value="Start the game!">
            </form>
        </div>

  {%endblock %}
